<div class="container sticky-content">
  <div class="row">
    <button type="button" routerLink="/register-participant" class="btn btn-primary btn-block">Register Participant</button>    
  </div>
  <br/>
  <div class="row">
    <button type="button" routerLink="/register-activity" class="btn btn-primary btn-block">Register Activity</button> 
  </div>
  <br/>
  <div class="row">
    <button type="button"  class="btn btn-primary btn-block">Assign value to activiy</button> 
  </div>
  <br/>
  <div class="row">
    <button type="button" routerLink="/register-neighbor-team" class="btn btn-primary btn-block">Register neighbor team</button> 
  </div>
  <br/>
  <div class="row">
    <button type="button" routerLink="/assign-activity-neighbor-team" class="btn btn-primary btn-block">Assign activity to neighbor team</button> 
  </div>
</div>