<div class="row">
  <div class="col-11">
    <h5>Assign Activity to Participant</h5>
  </div>
  <div class="col-1">
      <button type="button" class="btn btn-secondary button-info" data-toggle="tooltip" data-placement="top" title="Info">
          <i>I</i>
      </button>    
  </div>
</div>
<form>
  <div class="form-group">
    <label for="activities">List of activities with status "Registered"</label>
    <input type="search" class="form-control" id="activities">
  </div>
  <div class="form-group">
    <label for="activities">Show activity details</label>
    <input type="search" class="form-control" id="activities">
  </div>
  <div class="form-group">
    <label for="participants">List of Participants</label>
    <input type="search" class="form-control" id="participants">
  </div>
  <div class="form-group row">
    <div class="col">
      <button type="button" class="btn btn-primary float-right">Save</button> 
    </div>
  </div>
</form>
