<div class="container">
  <div class="card card-container">
    <div class="card-body">
      <form>
        <div class="row">
          <mat-form-field>
            <input matInput placeholder="Username" name="username" required>
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password" name="password" required>
          </mat-form-field>
        </div>
        <div class="row">
          <button mat-raised-button routerLink="/ca/home" color="accent" class="mx-auto font-weight-bold m-3">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
