<div class="container">
  <div class="row">
    <div class="col-10">
      <h5>Register Participant</h5>
    </div>
    <div class="col-2 text-right">
        <button type="button" class="btn btn-secondary button-info" data-toggle="tooltip" data-placement="botton" title="Info">
            <i>I</i>
        </button>    
    </div>
  </div>
  <form>
    <div class="form-group">
      <mat-form-field class="w-100">
        <input matInput placeholder="First name" type="text">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100">
        <input matInput placeholder="Insert of name" type="text">
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100">
        <input matInput placeholder="Last name" type="text">
      </mat-form-field>
    </div>
    <label>Date of Birth</label>
    <div class="form-row">
      <div class="form-group col-4">
        <mat-form-field class="w-100">
          <mat-select placeholder="Day">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
            <mat-option value="12">12</mat-option>
            <mat-option value="13">13</mat-option>
            <mat-option value="14">14</mat-option>
            <mat-option value="15">15</mat-option>
            <mat-option value="16">16</mat-option>
            <mat-option value="17">17</mat-option>
            <mat-option value="18">18</mat-option>
            <mat-option value="19">19</mat-option>
            <mat-option value="20">20</mat-option>
            <mat-option value="21">21</mat-option>
            <mat-option value="22">22</mat-option>
            <mat-option value="23">23</mat-option>
            <mat-option value="24">24</mat-option>
            <mat-option value="25">25</mat-option>
            <mat-option value="26">26</mat-option>
            <mat-option value="27">27</mat-option>
            <mat-option value="28">28</mat-option>
            <mat-option value="29">29</mat-option>
            <mat-option value="30">30</mat-option>
            <mat-option value="31">31</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-4">
        <mat-form-field class="w-100">
          <mat-select placeholder="Month">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
            <mat-option value="11">11</mat-option>
            <mat-option value="12">12</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-4">
        <mat-form-field class="w-100">
          <mat-select placeholder="Year">
            <mat-option value="1988">1988</mat-option>
            <mat-option value="1990">1990</mat-option>
            <mat-option value="1991">1991</mat-option>
            <mat-option value="1992">1992</mat-option>
            <mat-option value="1993">1993</mat-option>
            <mat-option value="1994">1994</mat-option>
            <mat-option value="1995">1995</mat-option>
            <mat-option value="1996">1996</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <label>Telephone number</label>
    <div class="form-row">
      <div class="form-group col-2">
        <mat-form-field class="w-100">
          <mat-select placeholder="Prefix">
            <mat-option value="+55">+55</mat-option>
            <mat-option value="+351">+351</mat-option>
            <mat-option value="+1">+1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-10">
        <mat-form-field class="w-100">
          <input matInput placeholder="Phone number" type="text">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100">
        <input matInput placeholder="Email" type="email">
      </mat-form-field>
    </div>
    <label for="debt">Debt</label>
    <div class="form-row">
      <div class="form-group col-2">
        <mat-form-field class="w-100">
          <mat-select placeholder="Currency">
            <mat-option value="€">€</mat-option>
            <mat-option value="$">$</mat-option>
            <mat-option value="¢">¢</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group col-10">
        <mat-form-field class="w-100">
          <input matInput placeholder="Debt" type="number">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <button type="button" class="btn btn-primary float-right">Save</button> 
      </div>
    </div>
  </form>
</div>
