<div class="container sticky-content">
  <div class="row">
    <button type="button" routerLink="/show-activity-list" class="btn btn-primary btn-block">Show Activity List</button>    
  </div>
  <br/>
  <div class="row">
    <button type="button" routerLink="/show-activity-detail" class="btn btn-primary btn-block">Show Activity Detail</button>    
  </div>
  <br/>
  <div class="row">
    <button type="button" routerLink="/assign-activity-participant" class="btn btn-primary btn-block">Assign Activity to Participant</button>    
  </div>
  <br/>
  <div class="row">
    <button type="button" routerLink="/check-completed-activity" class="btn btn-primary btn-block">Check Completed Activity</button>    
  </div>
  <br/>
  <div class="row">
    <button type="button" routerLink="/accept-reject-completed-activity" class="btn btn-primary btn-block">Accept or Reject completed Activity</button>    
  </div>
</div>