<div class="container mt-4">
  <div class="row">
    <div class="col-10">
      <h5>Assign participant to neighbor team</h5>
    </div>
    <div class="col-2 text-right">
        <button type="button" class="btn btn-secondary button-info" data-toggle="tooltip" data-placement="top" title="Info">
            <i>I</i>
        </button>    
    </div>
  </div>
  <form>
    <div class="form-group">
      <mat-form-field class="w-100">
        <mat-select placeholder="List participants" name="selectedParticipants">
          <!-- <mat-option *ngFor="let activity of activities" [value]="activity.value">
            {{activity.viewValue}}
          </mat-option> -->
          <mat-option [value]="1">
            Participant 1
          </mat-option>
          <mat-option [value]="2">
            Participant 2
          </mat-option>
          <mat-option [value]="3">
            Participant 3
          </mat-option>
        </mat-select>
        <mat-hint>Choose participant</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="w-100">
        <mat-select placeholder="List neighbor teams" name="selectedNeighborTeam">
          <!-- <mat-option *ngFor="let neighborTeam of neighborTeams" [value]="neighborTeam.value">
            {{neighborTeam.viewValue}}
          </mat-option> -->
          <mat-option [value]="1">
            Neighbor team 1
          </mat-option>
          <mat-option [value]="2">
            Neighbor team 2
          </mat-option>
          <mat-option [value]="3">
            Neighbor team 3
          </mat-option>
        </mat-select>
        <mat-hint>Choose neighbor team</mat-hint>
      </mat-form-field>
      
    </div>
    <div class="form-group row">
      <div class="col">
        <button mat-raised-button type="button" color="accent" class="mx-auto font-weight-bold m-3 float-right">Save</button> 
      </div>
    </div>
  </form>
</div>

