@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


$my-blue: (
  50: #FF8C00,
  100: #FF8C00,
  200: #FF8C00,
  300: #FF8C00,
  400: #FF8C00,
  500: #FF8C00,
  600: #FF8C00,
  700: #FF8C00,
  800: #FF8C00,
  900: #FF8C00,
  A100: #FF8C00,
  A200: #FF8C00,
  A400: #FF8C00,
  A700: #FF8C00,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$socialcoin-app-primary: mat-palette($my-blue);
$socialcoin-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$socialcoin-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$socialcoin-app-theme: mat-light-theme($socialcoin-app-primary, $socialcoin-app-accent, $socialcoin-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($socialcoin-app-theme);