@import '~bootstrap/scss/bootstrap';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.container {
    margin: auto;
}

body {
    margin: 0;
}

.mat-list .mat-list-item .mat-list-item-content {
    flex-direction: row-reverse !important;
}