<div class="row">
  <div class="col-11">
    <h5>Register Participant</h5>
  </div>
  <div class="col-1">
      <button type="button" class="btn btn-secondary button-info" data-toggle="tooltip" data-placement="botton" title="Info">
          <i>I</i>
      </button>    
  </div>
</div>
<form>
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName">
  </div>
  <div class="form-group">
    <label for="insertOfName">Insert of name</label>
    <input type="text" class="form-control" id="insertOfName">
  </div>
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName">
  </div>
  <label>Date of Birth</label>
  <div class="form-row">
    <div class="form-group col">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
        <option>13</option>
        <option>14</option>
        <option>15</option>
        <option>16</option>
        <option>17</option>
        <option>18</option>
        <option>19</option>
        <option>20</option>
        <option>21</option>
        <option>22</option>
        <option>23</option>
        <option>24</option>
        <option>25</option>
        <option>26</option>
        <option>27</option>
        <option>28</option>
        <option>29</option>
        <option>30</option>
      </select>
    </div>
    <div class="form-group col">
      <select class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
        <option>10</option>
        <option>11</option>
        <option>12</option>
      </select>
    </div>
    <div class="form-group col">
      <select class="form-control">
        <option>1988</option>
        <option>1990</option>
        <option>1991</option>
        <option>1992</option>
        <option>1993</option>
        <option>1994</option>
        <option>1995</option>
        <option>1996</option>
      </select>
    </div>
  </div>
  <label>Telephone number</label>
  <div class="form-row">
    <div class="form-group col-1">
      <select class="form-control">
        <option>+55</option>
        <option>+351</option>
        <option>+1</option>
      </select>
    </div>
    <div class="form-group col-11">
      <input type="tel" class="form-control" id="telephone">
    </div>
  </div>
  <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email">
  </div>
  <label for="debt">Debt</label>
  <div class="form-row">
    <div class="form-group col-1">
        <select class="form-control">
          <option>€</option>
          <option>$</option>
          <option>¢</option>
        </select>
    </div>
    <div class="form-group col-11">
      <input type="text" class="form-control" id="debt">
    </div>
  </div>
  <div class="form-group row">
    <div class="col">
      <button type="button" class="btn btn-primary float-right">Save</button> 
    </div>
  </div>
</form>
