.sticky-content {
    flex: 1 1 auto;
    overflow-y: scroll;
}

.button-info {border-radius: 50%;}

mat-sidenav-container, mat-sidenav, mat-sidenav-content {
    height: 100%;
}

main {
    padding-top: 10px;
    padding-bottom: 75px;
}