<!-- <nav class="navbar sticky-top bg-light sca-header">
  <ul class="nav flex-column">
      <li class="nav-item">
          <img src="assets/img/city.png" class="img-responsive">
        </li>
      <li class="nav-item">
        <h4>Socialcoin</h4>
      </li>
    </ul>
</nav> -->



<mat-toolbar class="bg-light sca-header sticky-top navbar">
  <div class="col-3">
      <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
      </button>
  </div>
  <div class="col-6 title">
    <a routerLink="/"><img src="assets/img/city.png" class="img-fluid"></a>
  </div>
  <div class="col-3 text-right">
    <a>
      <mat-icon>exit_to_app</mat-icon>
    </a>
  </div>
</mat-toolbar>
