<nav class="navbar sticky-top bg-light sca-header">
  <!-- <div class="d-flex flex-row">
    <img src="assets/img/city.png" class="img-responsive">
  </div>
  
  <!-- <div class="d-flex flex-row"> -->
  <!-- <li class="nav-item">
    asdasd
  </li> -->
  <!-- <div class="d-flex flex-row">
      <h4>asdas</h4>
  </div> --> 
    <!-- <div class="p-2"><h4>CITY administration</h4></div>
    <div class="p-2"><h4>H</h4></div>
  </div>  -->
  <!-- </ul> -->

  <ul class="nav flex-column">
      <li class="nav-item">
          <img src="assets/img/city.png" class="img-responsive">
        </li>
      <li class="nav-item">
        <h4>Socialcoin</h4>
      </li>
    </ul>
</nav>